@import "tailwindcss";

:root{
  --text-col: rgb(255, 255, 255);
  --miSpoil-txt-col: rgb(253, 255, 139);
  --maSpoil-txt-col: rgb(255, 0 , 0);
  --bg-col: rgb(0, 0, 0);
  --outline: rgb(149, 0, 0);
  --transp-bg: rgba(176, 176, 176, 0.5);
  --alt-transp-bg: rgba(133, 133, 133, 0.5);
  --intractable-bg: rgb(50, 50, 50);
  --bg-img: url('/assets/kagari.png');
  --bg-img-pos: bottom left;
}

.outline{
  outline: 1px solid var(--outline);
}